@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-datepicker/dist/react-datepicker.css';

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100vh;

}

input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none;
}

.example-track.example-track-0 {
  background-color: lightgray; /* Lighter gray for the left part */
}

.example-track.example-track-1 {
  background-color: #1E272F; /* Darker gray for the middle part (between the thumbs) */
}

.example-track.example-track-2 {
  background-color: lightgray; /* Lighter gray for the right part */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .text-pretty {
    text-wrap: pretty;
  }
}
